* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 1600px;
    height: 3630px;
    background: rgb(255, 255, 255);
}

.navigation {
    position: absolute;
    width: 1193px;
    height: 59px;
    left: 177px;
    right: 230px;
    top: 41px;
    bottom: 3530px;
}

.logo_navigation {
    position: relative;
    width: 97px;
    height: 59px;
}

.navigation_text {
    display: flex;
    position: absolute;
    width: 609px;
    height: 26px;
    left: 580px;
    right: 4px;
    top: 49px;
    bottom: -16px;
    gap: 50px;
}

.navigation_text_stile {
    color: rgb(102, 102, 102);
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
}

.navigation_image {
    display: flex;
    position: absolute;
    width: 130px;
    height: 32px;
    left: 1240px;
    right: -177px;
    top: 45px;
    bottom: -18px;
    gap: 18px;
}

.title {
    position: absolute;
    width: 1204px;
    height: 350px;
    left: 177px;
    top: 320px;
}

.title_text {
    position: absolute;
    width: 636px;
    height: 297px;
    left: 0%;
    right: 0%;
    top: 15.15%;
    bottom: -15.15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Poppins;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: left;
    color: rgb(66, 68, 110);
}

.title_text_purpur {
    font-family: Poppins;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to bottom right, rgb(231, 15, 170), rgb(0, 192, 253));
}

.title_foto {
    position: absolute;
    width: 349px;
    height: 349px;
    left: 855px;
    top: 19px;
    border-radius: 230px;
    background: linear-gradient(to bottom right, rgb(231, 15, 170), rgb(0, 192, 253));
}

.me_foto {
    position: absolute;
    width: 331px;
    height: 331px;
    left: 9px;
    top: 9px;
    border-radius: 230px;
}

.content_title {
    position: absolute;
    width: 355px;
    height: 26px;
    left: 599px;
    top: 1018px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(66, 68, 110);
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.content_text {
    position: absolute;
    width: 719px;
    height: 26px;
    left: 423px;
    top: 1093px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(102, 102, 102);
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.content_icon_img {
    border: 2px;
    border-color: rgba(25, 0, 255, 0.397);
    border-style: dashed;
}


.content_icon {
    display: flex;
    position: absolute;
    width: 1218px;
    height: 318px;
    left: 184px;
    top: 1266px;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.projects_title {
    position: absolute;
    width: 201px;
    height: 26px;
    left: 676px;
    top: 1776px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(66, 68, 110);
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.projects_text {
    position: absolute;
    width: 343px;
    height: 26px;
    left: 602px;
    top: 1851px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(102, 102, 102);
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.projects_container {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    top: 1976px;
}

.projects_container_lots {
    width: 373px;
    height: 567px;
    border-radius: 20px;
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
    background: rgb(255, 255, 255);
}

.lots_img {
    position: absolute;
    width: 373px;
    height: 260px;
    border-radius: 20px 20px 0px 0px;
}

.lots_title {
    position: relative;
    width: 300px;
    height: 26px;
    left: 28px;
    top: 282px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.lots_text {
    position: relative;
    width: 314px;
    height: 130px;
    left: 28px;
    top: 302px;
    color: rgb(102, 102, 102);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}

.lots_tech {
    position: relative;
    width: 314px;
    height: 26px;
    left: 28px;
    top: 320px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}

.lots_grope {
    position: relative;
    width: 314px;
    height: 26px;
    left: 28px;
    top: 335px;
}

.lots_git {
    position: relative;
    width: 314px;
    height: 26px;
    left: 70px;
    top: 335px;
}

@media (max-width: 1300px) {
    section body {
        max-width: 50%;
        width: 50%;
        flex-direction: column;
    }
}