/*----------------------------------------------------------*/

@media (max-width: 1536px) {
    .nav__list {
        flex-direction: row;
        gap: 10px;
    }

    .nav__item {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav__link {
        display: flex;
        gap: 35px;
    }

    .nav__link__text {
        font-size: 40px;
    }

    .nav__img {
        display: flex;
        margin-top: 18px;
        gap: 30px;
    }

    .nav__logo {
        display: none;
    }

    .container__contacts {
        margin-top: 500px;
    }

    .container__list {
        grid-template-columns: repeat(2, 567px);
        grid-template-rows: repeat(3, 373px);
        justify-items: center;
        justify-content: space-evenly;
        row-gap: 247px;
    }

    .container__item {
        width: 373px;
        height: 567px;
        border-radius: 20px;
        box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
        background: rgb(255, 255, 255);
    }

    .container__item__img {
        width: 373px;
        height: 260px;
    }

    .skills__title {

        margin-top: 130px;
    }

    .container__contacts {
        margin-top: -200px;
    }

    .create__line {
        width: 1000px;
    }
}

/*----------------------------------------------------------*/

@media (max-width: 1280px) {
    .nav__list {
        flex-direction: row;
        gap: 10px;
    }

    .nav__item {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav__link {
        display: flex;
        gap: 35px;
    }

    .nav__link__text {
        font-size: 40px;
    }

    .nav__img {
        display: flex;
        margin-top: 18px;
        gap: 30px;
    }

    .nav__logo {
        display: none;
    }

    .container__contacts {
        margin-top: 500px;
    }

    .container__list {
        grid-template-columns: repeat(2, 567px);
        grid-template-rows: repeat(3, 373px);
        justify-items: center;
        justify-content: space-evenly;
        row-gap: 247px;
    }

    .container__item {
        width: 373px;
        height: 567px;
        border-radius: 20px;
        box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
        background: rgb(255, 255, 255);
    }

    .container__item__img {
        width: 373px;
        height: 260px;
    }

    .skills__title {

        margin-top: 130px;
    }

    .container__contacts {
        margin-top: -200px;
    }

    .create__line {
        width: 900px;
    }
}

/*----------------------------------------------------------*/

@media (max-width: 1024px) {
    .nav__list {
        flex-direction: row;
        gap: 10px;
    }

    .nav__item {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav__link {
        display: flex;
        gap: 35px;
    }

    .nav__link__text {
        font-size: 30px;
    }

    .nav__img {
        display: flex;
        margin-top: 18px;
        gap: 30px;
    }

    .nav__logo {
        display: none;
    }

    .section__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 50px;
    }

    .section__content {
        width: 100%;
        max-width: 249px;
        height: 249px;
    }

    .section__img {
        width: 236px;
        max-width: 236px;
        height: auto;
    }

    .skills__title {

        margin-top: 130px;
    }

    .container__contacts {
        margin-top: 300px;
    }

    .container__title {
        margin-top: 140px;
        font-size: 28px;
    }

    .container__text {
        margin-top: 29px;
        font-size: 20px;
    }

    .container__list {
        grid-template-columns: repeat(1, 567px);
        grid-template-rows: repeat(3, 373px);
        justify-items: center;
        justify-content: space-evenly;
        row-gap: 247px;
    }

    .container__item {
        width: 373px;
        height: 567px;
        border-radius: 20px;
        box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
        background: rgb(255, 255, 255);
    }

    .container__item__img {
        width: 373px;
        height: 260px;
    }

    .create__line {
        width: 800px;
    }
}

/*----------------------------------------------------------*/

@media (max-width: 768px) {
    .nav__list {
        flex-direction: column;
        gap: 10px;
    }

    .nav__item {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav__link {
        display: none;
        gap: 35px;
        flex-direction: column;
    }

    .nav__link__text {
        font-size: 40px;
    }

    .nav__img {
        display: flex;
        margin-top: 18px;
        gap: 30px;
    }

    .nav__logo {
        display: none;
    }

    .section {
        margin-top: 45px;
    }

    .section__title {
        display: flex;
        font-size: 35px;
        line-height: 35px;
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;
    }

    .section__content {
        width: 100%;
        max-width: 249px;
        height: 249px;
    }

    .section__img {
        width: 236px;
        max-width: 236px;
        height: auto;
    }

    .skills__title {
        margin-top: 140px;
        font-size: 28px;
    }

    .skills__text {
        margin-top: 29px;
        font-size: 20px;
        text-align: center;
    }

    .skills__list {
        margin-top: 60px;
        grid-template-columns: repeat(3, 131px);
        grid-template-rows: repeat(4, 131px);
        justify-items: center;
        align-items: center;
        justify-content: space-evenly;
        row-gap: 5px;
    }

    .skills__icon {
        width: 100%;
        max-width: 80px;
        height: auto;
    }

    .icon {
        width: 100%;
        max-width: 80px;
        height: auto;
    }

    .container__title {
        margin-top: 140px;
        font-size: 28px;
    }

    .container__text {
        margin-top: 29px;
        font-size: 20px;
    }

    .container__contacts {
        display: flex;
        margin-top: 300px;
        flex-direction: column;
        align-items: center;
    }

    .container__contacts__list {
        display: flex;
        margin-top: 15px;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }

    .container__link {
        display: flex;
        gap: 15px;
        flex-direction: column;
    }

    .container__contacts__img {
        display: flex;
        margin-top: 18px;
        gap: 30px;
    }

    .container__logo {
        display: none;
    }

    .divider {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .create__line {
        width: 500px;
    }

    .list__link {
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    .list__link {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    .container__list {
        grid-template-columns: repeat(1, 567px);
        grid-template-rows: repeat(3, 373px);
        justify-items: center;
        justify-content: space-evenly;
        row-gap: 247px;
    }

    .container__item {
        width: 373px;
        height: 567px;
        border-radius: 20px;
        box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
        background: rgb(255, 255, 255);
    }

    .container__item__img {
        width: 373px;
        height: 260px;
    }

    .menu {
        display: inline-block;
    }
}

/*----------------------------------------------------------*/

@media (max-width: 640px) {
    .nav__list {
        flex-direction: column;
        gap: 10px;
    }

    .nav__item {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav__link {
        display: none;
        gap: 35px;
        flex-direction: column;
    }

    .nav__link__text {
        font-size: 40px;
    }

    .nav__img {
        display: flex;
        margin-top: 18px;
        gap: 30px;
    }

    .nav__logo {
        display: none;
    }

    .section {
        margin-top: 45px;
    }

    .section__title {
        display: flex;
        font-size: 35px;
        line-height: 35px;
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;
    }

    .section__content {
        width: 100%;
        max-width: 249px;
        height: 249px;
    }

    .section__img {
        width: 236px;
        max-width: 236px;
        height: auto;
    }

    .skills__title {
        margin-top: 140px;
        font-size: 28px;
    }

    .skills__text {
        margin-top: 29px;
        font-size: 20px;
        text-align: center;
    }

    .skills__list {
        margin-top: 60px;
        grid-template-columns: repeat(3, 131px);
        grid-template-rows: repeat(4, 131px);
        justify-items: center;
        align-items: center;
        justify-content: space-evenly;
        row-gap: 5px;
    }

    .skills__icon {
        width: 100%;
        max-width: 80px;
        height: auto;
    }

    .icon {
        width: 100%;
        max-width: 80px;
        height: auto;
    }

    .container__title {
        margin-top: 140px;
        font-size: 28px;
    }

    .container__text {
        margin-top: 29px;
        font-size: 20px;
    }

    .container__contacts {
        display: flex;
        margin-top: 300px;
        flex-direction: column;
        align-items: center;
    }

    .container__contacts__list {
        display: flex;
        margin-top: 15px;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }

    .container__link {
        display: flex;
        gap: 15px;
        flex-direction: column;
    }

    .container__contacts__img {
        display: flex;
        margin-top: 18px;
        gap: 30px;
    }

    .container__logo {
        display: none;
    }

    .divider {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .create__line {
        width: 400px;
    }

    .list__link {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    .container__item__img {
        width: 173px;
        height: 160px;
    }

    .container__list {
        grid-template-columns: repeat(1, 567px);
        grid-template-rows: repeat(3, 373px);
        justify-items: center;
        justify-content: space-evenly;
        row-gap: 247px;
    }

    .container__item {
        width: 373px;
        height: 567px;
        border-radius: 20px;
        box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
        background: rgb(255, 255, 255);
    }

    .container__item__img {
        width: 373px;
        height: 260px;
    }

    .menu {
        display: inline-block;
    }
}

@media (max-width: 480px) {
    .container__item__img {
        width: 173px;
        height: 160px;
    }

    .container__list {
        grid-template-columns: repeat(1, 567px);
        grid-template-rows: repeat(3, 373px);
        justify-items: center;
        justify-content: space-evenly;
        row-gap: 247px;
        margin-left: -70px;
    }

    .container__item {
        width: 273px;
        height: 567px;
        border-radius: 20px;
        box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
        background: rgb(255, 255, 255);

    }

    .container__item__img {
        width: 273px;
        height: 160px;

    }

    .menu {
        display: inline-block;
    }

    .item_grope {
        font-size: 14px;
    }

    .item_git {
        font-size: 14px;
    }
}