* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smoot;
  /*border: 2px;
  border-color: red;
  border-style: dashed;*/ }

body {
  background: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 320px;
  max-width: 1800px;
  margin: 0 auto;
  -webkit-transition: background-color 1.2s ease;
  transition: background-color 1.2s ease; }

body.light-theme {
  background-color: #ffffff;
  color: #000000; }

body.dark-theme {
  background-color: #1d1b1b;
  color: #ffffff; }

#themeToggle {
  border: 0px;
  background-color: #ffffff00;
  margin-left: 8px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 51px;
  margin-right: 20px; }

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px; }

.nav__link__text {
  color: #666;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none; }

.section {
  margin-top: 150px; }

.section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Poppins;
  text-align: left;
  color: #42446e;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px; }

.section__subtitle {
  color: transparent;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#e70faa), to(#00c0fd));
  background-image: linear-gradient(to bottom right, #e70faa, #00c0fd); }

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 349px;
  height: 349px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(#e70faa), to(#00c0fd));
  background: linear-gradient(to bottom right, #e70faa, #00c0fd);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.section__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 331px;
  height: 331px;
  border-radius: 100%; }

.skills__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 256px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  color: #42446e;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.skills__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 49px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 400;
  color: #666;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.skills__list {
  display: grid;
  margin-top: 120px;
  grid-template-columns: repeat(6, 131px);
  grid-template-rows: repeat(2, 131px);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  row-gap: 51px; }

.skills__icon {
  border: 2px;
  border-color: rgba(25, 0, 255, 0.397);
  border-style: dashed; }

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.container__title {
  margin-top: 142px;
  color: #42446e;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 26px;
  text-align: center; }

.container__text {
  margin-top: 49px;
  color: #666;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 400;
  line-height: 26px;
  text-align: center; }

.container__list {
  display: grid;
  margin-top: 96px;
  grid-template-columns: repeat(3, 567px);
  grid-template-rows: repeat(1, 373px);
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  row-gap: 47px; }

.container__item {
  width: 373px;
  height: 567px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
  background: #fff; }

.container__item__img {
  width: 373px;
  height: 260px;
  border-radius: 20px 20px 0 0; }

.container__item__title {
  margin-top: 27px;
  color: #000;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 26px;
  text-align: center; }

.container__item__text {
  margin-top: 17px;
  margin-left: 18px;
  color: #666;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-align: left; }

.container__item__subtitle {
  margin-top: 12px;
  margin-left: 18px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  text-align: left; }

.item_grope {
  position: relative;
  top: 21px;
  margin-left: 18px; }

.item_git {
  position: relative;
  top: 21px;
  margin-left: 60px; }

.container__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 300px; }

.container__contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px; }

.container__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 51px; }

.container__contacts__item {
  color: #666;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none; }

.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 42px;
  margin-bottom: 60px; }

.create__line {
  width: 1209px;
  border: 2px solid #666;
  opacity: 0.3; }

.list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-bottom: 40px; }

.menu {
  display: none;
  background-color: #ffffff00;
  border: 0;
  margin-top: 20px;
  height: 80px;
  width: 80px; }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.menu_content {
  display: none;
  margin-top: 22px;
  position: absolute;
  z-index: 1;
  color: #242323;
  font-family: DM Sans;
  font-size: 55px;
  font-weight: 500;
  line-height: 75px;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right bottom, from(#ffffffe5), to(#ffffffe5));
  background: linear-gradient(to bottom right, #ffffffe5, #ffffffe5);
  text-align: center;
  border-radius: 10px;
  margin-left: 0 auto;
  height: 1000px;
  width: auto; }

.menu .ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: none; }

.menu .title {
  font-size: 18px;
  cursor: pointer; }

.menu .title::before {
  content: url(../icon/menu/UiwMenu.svg); }

.menu.open .title::before {
  content: url(../icon/menu/UiwClose.svg); }

.menu.open ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%; }

@media (max-width: 1536px) {
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px; }

  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 35px; }

  .nav__link__text {
    font-size: 40px; }

  .nav__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
    gap: 30px; }

  .nav__logo {
    display: none; }

  .container__contacts {
    margin-top: 500px; }

  .container__list {
    grid-template-columns: repeat(2, 567px);
    grid-template-rows: repeat(3, 373px);
    justify-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 247px; }

  .container__item {
    width: 373px;
    height: 567px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
    background: #fff; }

  .container__item__img {
    width: 373px;
    height: 260px; }

  .skills__title {
    margin-top: 130px; }

  .container__contacts {
    margin-top: -200px; }

  .create__line {
    width: 1000px; } }
@media (max-width: 1280px) {
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px; }

  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 35px; }

  .nav__link__text {
    font-size: 40px; }

  .nav__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
    gap: 30px; }

  .nav__logo {
    display: none; }

  .container__contacts {
    margin-top: 500px; }

  .container__list {
    grid-template-columns: repeat(2, 567px);
    grid-template-rows: repeat(3, 373px);
    justify-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 247px; }

  .container__item {
    width: 373px;
    height: 567px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
    background: #fff; }

  .container__item__img {
    width: 373px;
    height: 260px; }

  .skills__title {
    margin-top: 130px; }

  .container__contacts {
    margin-top: -200px; }

  .create__line {
    width: 900px; } }
@media (max-width: 1024px) {
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px; }

  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 35px; }

  .nav__link__text {
    font-size: 30px; }

  .nav__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
    gap: 30px; }

  .nav__logo {
    display: none; }

  .section__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 50px; }

  .section__content {
    width: 100%;
    max-width: 249px;
    height: 249px; }

  .section__img {
    width: 236px;
    max-width: 236px;
    height: auto; }

  .skills__title {
    margin-top: 130px; }

  .container__contacts {
    margin-top: 300px; }

  .container__title {
    margin-top: 140px;
    font-size: 28px; }

  .container__text {
    margin-top: 29px;
    font-size: 20px; }

  .container__list {
    grid-template-columns: repeat(1, 567px);
    grid-template-rows: repeat(3, 373px);
    justify-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 247px; }

  .container__item {
    width: 373px;
    height: 567px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
    background: #fff; }

  .container__item__img {
    width: 373px;
    height: 260px; }

  .create__line {
    width: 800px; } }
@media (max-width: 768px) {
  .nav__list {
    /*flex-direction: column;*/
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .nav__link {
    display: none;
    gap: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .nav__link__text {
    font-size: 40px; }

  .nav__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
    gap: 30px; }

  .nav__logo {
    display: none; }

  .section {
    margin-top: 45px; }

  .section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 35px;
    line-height: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
    text-align: center; }

  .section__content {
    width: 100%;
    max-width: 249px;
    height: 249px; }

  .section__img {
    width: 236px;
    max-width: 236px;
    height: auto; }

  .skills__title {
    margin-top: 140px;
    font-size: 28px; }

  .skills__text {
    margin-top: 29px;
    font-size: 20px;
    text-align: center; }

  .skills__list {
    margin-top: 60px;
    grid-template-columns: repeat(3, 131px);
    grid-template-rows: repeat(4, 131px);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 5px; }

  .skills__icon {
    width: 100%;
    max-width: 80px;
    height: auto; }

  .icon {
    width: 100%;
    max-width: 80px;
    height: auto; }

  .container__title {
    margin-top: 140px;
    font-size: 28px; }

  .container__text {
    margin-top: 29px;
    font-size: 20px; }

  .container__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .container__contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .container__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .container__contacts__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
    gap: 30px; }

  .container__logo {
    display: none; }

  .divider {
    margin-top: 30px;
    margin-bottom: 40px; }

  .create__line {
    width: 500px; }

  .list__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 35px; }

  .list__link {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 35px; }

  .container__list {
    grid-template-columns: repeat(1, 567px);
    grid-template-rows: repeat(3, 373px);
    justify-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 247px; }

  .container__item {
    width: 373px;
    height: 567px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
    background: #fff; }

  .container__item__img {
    width: 373px;
    height: 260px; }

  .menu {
    display: inline-block; } }
@media (max-width: 640px) {
  .nav__list {
    /*flex-direction: column;*/
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .nav__link {
    display: none;
    gap: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .nav__link__text {
    font-size: 40px; }

  .nav__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
    gap: 30px; }

  .nav__logo {
    display: none; }

  .section {
    margin-top: 45px; }

  .section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 35px;
    line-height: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
    text-align: center; }

  .section__content {
    width: 100%;
    max-width: 249px;
    height: 249px; }

  .section__img {
    width: 236px;
    max-width: 236px;
    height: auto; }

  .skills__title {
    margin-top: 140px;
    font-size: 28px; }

  .skills__text {
    margin-top: 29px;
    font-size: 20px;
    text-align: center; }

  .skills__list {
    margin-top: 60px;
    grid-template-columns: repeat(3, 131px);
    grid-template-rows: repeat(4, 131px);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 5px; }

  .skills__icon {
    width: 100%;
    max-width: 80px;
    height: auto; }

  .icon {
    width: 100%;
    max-width: 80px;
    height: auto; }

  .container__title {
    margin-top: 140px;
    font-size: 28px; }

  .container__text {
    margin-top: 29px;
    font-size: 20px; }

  .container__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .container__contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .container__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .container__contacts__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
    gap: 30px; }

  .container__logo {
    display: none; }

  .divider {
    margin-top: 30px;
    margin-bottom: 40px; }

  .create__line {
    width: 400px; }

  .list__link {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 35px; }

  .container__item__img {
    width: 173px;
    height: 160px; }

  .container__list {
    grid-template-columns: repeat(1, 567px);
    grid-template-rows: repeat(3, 373px);
    justify-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 247px; }

  .container__item {
    width: 373px;
    height: 567px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
    background: #fff; }

  .container__item__img {
    width: 373px;
    height: 260px; }

  .menu {
    display: inline-block; } }
@media (max-width: 420px) {
  .nav__list {
    /*flex-direction: column;*/
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .container__item__img {
    width: 173px;
    height: 160px; }

  .container__list {
    grid-template-columns: repeat(1, 567px);
    grid-template-rows: repeat(3, 373px);
    justify-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 247px;
    margin-left: -70px; }

  .container__item {
    width: 273px;
    height: 567px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
    background: #fff; }

  .container__item__img {
    width: 273px;
    height: 160px; }

  .menu {
    display: inline-block; }

  .item_grope {
    font-size: 14px; }

  .item_git {
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */